.card {
  text-align: center;
  box-sizing: border-box;
  margin-top: 15px;
  padding-bottom: 50px;
  width: 100%;
}
.card h2 {
  padding-top: 30px;
  margin-bottom: 6px;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .004em;
}
.card p {
  margin: 0 0;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  
}
button {
  font-size: 14px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  border-style: solid;
  border-width: 1px;
  min-width: 20px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 380px;
}
.learn-btn, .buy-btn {
  margin-top: 20px;
}
.card.card1 {
  background: url("/card-images/image1.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: 734px 500px;
  background-position: center;
  background-color: #fff;
  border-color: #fff;
}
.card.card2 {
  background: url("/card-images/image2.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: 734px 500px;
  background-position: center;
  background-color: #fff;
  border-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.card.card3 {
  background: url("/card-images/image3.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: 734px 500px;
  background-position: center;
  background-color: #fff;
  border-color: #fff;
}
.card3 h2 { margin-top: 0;}
.card.card4 {
  background: url("/card-images/image4.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: 734px 500px;
  background-position: center;
  background-color: #fff;
  border-color: #fff;
}
.card.card5 {
  background: url("/card-images/image5.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: 734px 500px;
  background-position: center;
  background-color: #fff;
  border-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  
}
.card.card6 {
  background: url("/card-images/image6.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: 734px 500px;
  background-position: center;
  background-color: #fff;
  border-color: #fff;
}
@media (min-width: 734px) {
  .card {
    width: 50%;
  }
}
