.carousel {
  width: 100%;
  border: 2px solid #333;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  position: relative;
  left: 20%;
}

.arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.arrows .left-btn {
  position: absolute;
  left: 5%;
}
.arrows .right-btn {
  position: absolute;
  right: 5%;
}
