.carousel-card {
  min-width: 60%;
  height: 550px;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 1rem;
  border-right: 1px solid #ccc;
  color: white;
  position: relative;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33338;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border-color: #fff;
}

.carousel-card.active {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3); /* <-- black transparent overlay */
  z-index: 1;
}
.texts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}
.carousel-card.active > .texts {
  transform: translateY(0%);
  margin-bottom: 30px;
}
.texts > .p1 {
  font-weight: 700;
}
.texts > p {
  margin: 0;
}
.texts .carousel-btn {
  margin-top: 10px;
  border: none;
  background-color: white;
}

@media (min-width: 734px) {
  .carousel-card {
    font-size: 17px;
    align-items: start;
  }
  .texts {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .texts .carousel-btn {
    order: -1;
    margin-right: 3%;
  }
  .texts .p1 {
    margin-right: 10px;
  }
  
}